/* ===Basic===  */

* {
    box-sizing: border-box;
}

body {
    background: url(pictures/wedding-landing-background.png) no-repeat center;
    background-size: cover;
}

a {
    color: #bd806e;
    text-decoration: none;
}

a:hover {
    color: #eda087;
}


/* ==========Header=========== */

.tagline h3 {
    color: hsla(0, 0%, 100%, .9);
    font-family: 'Libre Baskerville', serif;
}

.text h1 {
    color: #d2ba87;
    font-family: 'Great Vibes', cursive;
}

span {
    color: hsla(0, 0%, 100%, .9);
    font-family: 'Libre Baskerville', serif;
}


/*==Header mobile==*/

.cover {
    background: url(pictures/wedding-landing-cover.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: table;
    text-align: center;
}

.title-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.text {
    background-color: hsla(100, 0%, 0%, .6);
    padding: .5rem 0;
    margin: 0 auto;
}

.tagline h3 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    padding-top: .8rem;
}

.tagline hr {
    width: 13rem;
    color: hsla(0, 0%, 100%, .9);
}

.text h1 {
    font-size: 3.2rem;
    padding: 1.1rem 0;
}

.date {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}


/*==Header desktop==*/

@media (min-width: 768px) {
    .text {
        width: 50%;
        padding: 1rem 0;
    }
    .tagline h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
    .text h1 {
        font-size: 7rem;
        padding: 2rem 0;
    }
}


/* ==========Main section=========== */


/* =====Locations-mobile===== */


/*=Location base=*/

.locations {
    padding: 2rem 0;
    text-align: center;
}

.locations h2 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}


/*==Ceremony, photos, party mobile==*/

.group {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Mulish', sans-serif;
}

.group h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 3rem;
}

img {
    width: 7rem;
    height: 7rem;
}

.group div {
    padding: .5rem 0;
}

hr {
    width: 30%;
    border: 0 solid;
    border-bottom: .2rem solid grey;
}


/*==Ceremony, photos, party desktop==*/

@media (min-width: 768px) {
    section {
        margin: 0 auto;
    }
    .group {
        display: inline-block;
        width: 30%;
        padding-bottom: 1.3rem;
    }
    hr {
        width: 0;
    }
}


/* =====Program-mobile===== */

.program {
    background-color: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    text-align: left;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.program h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    padding: 2rem 0;
}

.quote p {
    padding-bottom: 2rem;
}

.time-list ul {
    line-height: 1.6;
}


/* =====Program-desktop===== */

@media (min-width: 768px) {
    .program {
        text-align: center;
    }
}


/* =====Gifts-mobile-desktop===== */

.gifts {
    text-align: center;
    padding: 2rem 0;
}

.gifts h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.gifts p {
    font-family: 'Libre Baskerville', serif;
    padding: 2rem;
    font-size: 1.1rem;
}


/* =====Question&Answers-mobile===== */

.q-a {
    text-align: center;
    background-color: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
    padding: 2rem 1rem;
}

.q-a h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.q-abox h3 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem 0 .5rem 0;
}

.q-abox p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
}

.bold-text {
    padding: 1rem 0 .3rem 0;
    font-weight: bold;
}

.q-abox hr {
    width: 50%;
    border: 0 solid;
    border-bottom: .2rem solid #d2ba87;
    padding: 1rem;
}


/*===Question&Answers-desktop===*/

@media (min-width: 768px) {
    .q-a {
        margin: 0 auto;
    }
    .q-abox {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 1rem;
    }
    .q-abox hr {
        border: 0;
    }
}


/* =====Contact-mobile-desktop===== */

.contact {
    text-align: center;
    padding: 2rem 0;
}

.contact h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.contact p {
    font-family: 'Libre Baskerville', serif;
    padding: 1.5rem;
    font-size: 1.1rem;
}


/* =====Footer-mobile-desktop===== */

footer {
    display: table;
    text-align: center;
    width: 100%;
    height: 4rem;
    background-color: #606060;
    color: hsla(0, 0%, 100%, .9);
    font-family: 'Mulish', sans-serif;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.icon {
    width: 0.8rem;
    height: 0.8rem;
    filter: invert(80%);
}